@font-face {
  font-family: "portada-regular-webfont";
  src: url("Fonts/portada-regular-webfont.woff");
}

@font-face {
  font-family: "portada-italic-webfont";
  src: url("Fonts/portada-italic-webfont.woff");
}

@font-face {
  font-family: "antonio-bold-webfont.woff";
  src: url("Fonts/antonio-bold-webfont.woff");
}

@font-face {
  font-family: "antonio-regular-webfont.woff";
  src: url("Fonts/antonio-regular-webfont.woff");
}

.cont-slider {
  width: 100%;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.cont-slider .info-slider {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cont-slider .info-slider .datos-slider {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
}

.cont-slider .info-slider .datos-slider .fecha-slider h1 {
  font-family: "antonio-bold-webfont.woff";
  font-size: 80px;
  margin: 0px 10px 0px 0px;
  padding: 0px;
  color: #797D7F;
}

.cont-slider .info-slider .datos-slider .mesa-slider h4 {
  font-family: "portada-italic-webfont";
  font-size: 18px;
  font-weight: 200;
  color: #DB1F2F;
  margin: 0px;
}

.cont-slider .info-slider .contenido-slider {
  -webkit-box-flex: 8;
      -ms-flex-positive: 8;
          flex-grow: 8;
}

.cont-slider .info-slider .contenido-slider .titulo-slider {
  background-color: #ffffff;
  padding: 10px;
  border: solid 1px #DB1F2F;
}

.cont-slider .info-slider .contenido-slider .titulo-slider h2 {
  font-family: "antonio-bold-webfont.woff";
  font-size: 24px;
  margin: 0px;
  padding: 0px;
  letter-spacing: 2px;
  text-align: left;
  color: #DB1F2F;
}

.cont-slider .info-slider .contenido-slider .bajada-slider {
  background-color: #DB1F2F;
  padding: 10px;
}

.cont-slider .info-slider .contenido-slider .bajada-slider h3 {
  font-family: "antonio-bold-webfont.woff";
  font-size: 24px;
  margin: 0px;
  padding: 0px;
  text-align: left;
  color: #ffffff;
}

.cont-slider .auspicio-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-line-pack: center;
      align-content: center;
}

.cont-slider .auspicio-slider .auspician {
  width: 100%;
  position: absolute;
  text-align: left;
}

.cont-slider .auspicio-slider .auspician h5 {
  font-family: "antonio-regular-webfont.woff";
  font-size: 14px;
  letter-spacing: 1px;
  margin: 0px;
  padding: 0px;
  color: #58595B;
  text-transform: uppercase;
}

.cont-slider .auspicio-slider .auspiciantes-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 40px;
  height: 100px;
  -webkit-box-flex: 3;
      -ms-flex-positive: 3;
          flex-grow: 3;
}

.cont-slider .auspicio-slider .auspiciantes-slider #logo01.size-logo-aunciante {
  width: 100px;
  height: auto;
}

.cont-slider .auspicio-slider .auspiciantes-slider #logo02.size-logo-aunciante {
  width: 70px;
  height: auto;
}

.cont-slider .auspicio-slider .auspiciantes-slider #logo03.size-logo-aunciante {
  width: 80px;
  height: auto;
}

.cont-slider .auspicio-slider .cont-editorial {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
  padding-left: 40px;
  border-left: solid 3px #606060;
  -webkit-box-flex: 7;
      -ms-flex-positive: 7;
          flex-grow: 7;
}

.cont-slider .auspicio-slider .cont-editorial h4 {
  font-family: "portada-italic-webfont";
  font-size: 25px;
  line-height: 27px;
  font-weight: 200;
  color: #606060;
}

.cont-slider .auspicio-slider .cont-editorial .btn-editorial-slider {
  background-color: #DB1F2F;
  padding: 30px;
  margin: 0px 0px 0px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.cont-slider .auspicio-slider .cont-editorial .btn-editorial-slider h3 {
  font-family: "antonio-regular-webfont.woff";
  font-size: 18px;
  line-height: 1.35;
  font-weight: 400;
  margin: 0px;
  padding: 0px;
  text-align: left;
  color: #ffffff;
  text-transform: uppercase;
}

.cont-slider .auspicio-slider .cont-editorial .btn-editorial-slider:hover {
  background-color: #000000;
  cursor: pointer;
}

.video-charla {
  width: 100%;
  padding-top: 40%;
  position: relative;
  overflow: hidden;
  margin: 12px 0px;
}

.resp-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: 0px;
}

@media (max-width: 1023px) {
  .cont-slider {
    padding: 0px;
  }
  .cont-slider .info-slider .datos-slider .fecha-slider h1 {
    font-size: 55px;
    margin: 0px 10px 0px 0px;
  }
  .cont-slider .info-slider .datos-slider .mesa-slider {
    width: 100%;
    position: absolute;
    text-align: center;
  }
  .cont-slider .info-slider .datos-slider .mesa-slider h4 {
    margin-top: 20px;
    font-size: 20px;
  }
  .cont-slider .info-slider .contenido-slider .titulo-slider {
    padding: 10px 0px 10px 10px;
  }
  .cont-slider .info-slider .contenido-slider .titulo-slider h2 {
    font-size: 18px;
    letter-spacing: 0px;
  }
  .cont-slider .info-slider .contenido-slider .bajada-slider {
    padding: 10px 0px 10px 10px;
  }
  .cont-slider .info-slider .contenido-slider .bajada-slider h3 {
    font-size: 18px;
    letter-spacing: 0px;
  }
  .cont-slider .auspicio-slider {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .cont-slider .auspicio-slider .auspician {
    width: 100%;
    text-align: center;
    position: relative;
  }
  .cont-slider .auspicio-slider .auspician h5 {
    margin: 10px 0px;
  }
  .cont-slider .auspicio-slider .auspiciantes-slider {
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0px;
    height: 90px;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
  }
  .cont-slider .auspicio-slider .auspiciantes-slider #logo01.size-logo-aunciante {
    width: 100px;
    height: auto;
  }
  .cont-slider .auspicio-slider .auspiciantes-slider #logo02.size-logo-aunciante {
    width: 70px;
    height: auto;
  }
  .cont-slider .auspicio-slider .auspiciantes-slider #logo03.size-logo-aunciante {
    width: 80px;
    height: auto;
  }
  .cont-slider .auspicio-slider .cont-editorial {
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: auto;
    padding-left: 0px;
    border-left: 0px;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .cont-slider .auspicio-slider .cont-editorial h4 {
    font-size: 20px;
    margin: 0px;
  }
  .cont-slider .auspicio-slider .cont-editorial h4 br {
    display: none;
  }
  .cont-slider .auspicio-slider .cont-editorial .btn-editorial-slider {
    width: 100%;
    background-color: #DB1F2F;
    padding: 15px;
    margin: 8px 0px 8px 0px;
  }
  .cont-slider .auspicio-slider .cont-editorial .btn-editorial-slider h3 {
    font-size: 18px;
    line-height: 1.35;
    font-weight: 400;
  }
  .video-charla {
    width: 100%;
    padding-top: 56.25%;
    position: relative;
    overflow: hidden;
    margin: 60px  0px 10px 0px;
  }
}
/*# sourceMappingURL=style.css.map */