section#sponsors{
width: 60%;
height: auto;
margin-left: auto;
margin-right: auto;
position: relative;
z-index: 1000;


    .linea-divisoria-gris{
        width: 100%;
        height: 4px;
        background-color: $grisGeneral;
        margin-top: 10px;
        margin-bottom: 40px;
    }

    .linea-divisoria-roja{
        width: 100%;
        height: 4px;
        background-color: $colorClarin;
        margin-top: 10px;
        margin-bottom: 0px;
    }

    .gold-sponsor{
        h4{
            font-family: $antonioRegular;
            color: $colorTexto04;
            font-size: 15px;
            margin: 10px 0px 10px 0px;
            text-align: center;
            font-weight: normal;
        }
    }

    .cont-gold-sponsors{
        width: 100%;
        margin-right: auto;
        margin-right: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        align-content: center;

        .logos{
            img{
                width: 150px;
                height: auto;
            }
        }
    }

    .cont-auspicios{
        width: 100%;
        margin-right: auto;
        margin-right: auto;
        margin-top: 30px;
        margin-bottom: 30px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        align-content: center;

            .auspicios-a{
                width: 50%;
                height: auto;
                border-right: 1px solid $grisLinea;
                display: flex;
                flex-direction: column;
                align-items: center;
                align-content: center;

                .titulo-auspicio{
                    width: 100%;

                    h4{
                        font-family: $antonioRegular;
                        color: $colorTexto04;
                        font-size: 15px;
                        margin: 10px 0px 10px 0px;
                        text-align: center;
                        font-weight: normal;
                    }
                }

                .auspiciante{
                    img{
                        width: 120px;
                        height: auto;
                    }
                }

            }

            .auspicios-b{
                width: 50%;
                height: auto;
                border-left: 1px solid $grisLinea;
                display: flex;
                flex-direction: column;
                align-items: center;
                align-content: center;

                .titulo-auspicio{
                    width: 100%;

                    h4{
                        font-family: $antonioRegular;
                        color: $colorTexto04;
                        font-size: 15px;
                        margin: 10px 0px 10px 0px;
                        text-align: center;
                        font-weight: normal;
                    }
                }

                .auspiciante{
                    img{
                        width: 150px;
                        height: auto;
                    }
                }

            }

        
    }

}

@media (max-width: 1000px){

    section#sponsors{
        width: 100%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        z-index: 1000;
        
        
            .linea-divisoria-gris{
                width: 90%;
                margin-left: auto;
                margin-right: auto;
            }
        
            .linea-divisoria-roja{
                width: 100%;
            }
        
            .gold-sponsor{
                h4{
                    font-family: $antonioRegular;
                    color: $colorTexto04;
                    font-size: 18px;
                    margin: 10px 0px 10px 0px;
                    text-align: center;
                    font-weight: normal;
                }
            }
        
            .cont-gold-sponsors{
                width: 100%;
                flex-direction: column;
                justify-content: space-evenly;
        
                .logos{
                    img{
                        width: 150px;
                        height: auto;
                        margin: 10px 0px;
                    }
                }
            }
        
            .cont-auspicios{
                width: 100%;
                margin-right: auto;
                margin-right: auto;
                margin-top: 30px;
                margin-bottom: 30px;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;
                align-content: center;
        
                    .auspicios-a{
                        width: 90%;
                        height: auto;
                        border-right: 0px;
                        border-top: 1px solid $grisLinea;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        align-content: center;
        
                        .titulo-auspicio{
                            width: 100%;
        
                            h4{
                                font-family: $antonioRegular;
                                color: $colorTexto04;
                                font-size: 16px;
                                margin: 10px 0px 10px 0px;
                                text-align: center;
                                font-weight: normal;
                            }
                        }
        
                        .auspiciante{
                            img{
                                width: 100px;
                                height: auto;
                            }
                        }
        
                    }
        
                    .auspicios-b{
                        width: 90%;
                        height: auto;
                        margin-top: 10px;
                        border-left: 0px;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        align-content: center;
        
                        .titulo-auspicio{
                            width: 100%;
        
                            h4{
                                font-family: $antonioRegular;
                                color: $colorTexto04;
                                font-size: 15px;
                                margin: 10px 0px 10px 0px;
                                text-align: center;
                                font-weight: normal;
                            }
                        }
        
                        .auspiciante{
                            img{
                                width: 110px;
                                height: auto;
                            }
                        }
        
                    }
        
                
            }
        
        }

}